* {
  margin: 0;
}

.app {
  min-height: 100vh;
}

.app__body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.app__body__progressBar {
  margin-top: 150px;
}

.app__footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.app__footer__links {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__footer__links__seprator {
  display: none;
}

.app__footer__searchbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.app__footer__searchbar > label {
  color: gray;
  margin-right: 1em;
}

@media (min-width: 768px) {
  .app__footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .app__footer__links__seprator {
    display: inline;
    margin: 0 5px;
  }
}

.dark-mode {
  background-color: #1a1919;
  color: #999;
}
